---

---
<div class="container mt-5">
    <h1 class="line1 text-center" style="font-family:kanit;font-weight:400;">
        <span class="text-center" data-aos="fade-up" data-aos-delay="300" style="color:#003566;">OUR PARTNERS</span></h1>
    <div class="container mt-5 mb-4 p-3" style="background-color: #ffd60a;border-radius:10px;">
        <div class="row text-center align-items-center">
            <div class="col-sm-6 col-md-3 p-4">
                <img src="/images/master_logo2.png" data-aos="fade-up" data-aos-delay="300" style="width:100px;border-radius:10px;" alt="master shoe logo">
            </div>
            <div class="col-sm-6 col-md-3 p-4">
                <img src="/images/adidas_logo.png" data-aos="fade-up" data-aos-delay="300" style="width:100px;border-radius:10px;" alt="adidas shoe logo">
            </div>
            <div class="col-sm-6 col-md-3 p-4">
                <img src="/images/pu_logo.png" data-aos="fade-up" data-aos-delay="300" style="width:100px;border-radius:10px;" alt="lotto shoe logo">
            </div>
            <div class="col-sm-6 col-md-3 p-4">
                <img src="/images/nike_logo.png" data-aos="fade-up" data-aos-delay="300" style="width:100px;border-radius:10px;" alt="nike shoe logo">
            </div>
        </div>
    
    </div>
</div>
