---
---
<div class="container mt-5 mb-4 p-5" style="background-color: #ffd60a;border-radius:10px;">
    <div class="row text-center">
        <div class="col-sm-6 col-md-3 p-4">
            <img src="/images/master_logo.png" style="width:100px;border-radius:10px;" alt="master shoe logo">
        </div>
        <div class="col-sm-6 col-md-3 p-4">
            <img src="/images/adidas_logo.png" style="width:100px;border-radius:10px;" alt="adidas shoe logo">
        </div>
        <div class="col-sm-6 col-md-3 p-4">
            <img src="/images/lotto_logo.png" style="width:100px;border-radius:10px;" alt="lotto shoe logo">
        </div>
        <div class="col-sm-6 col-md-3 p-4">
            <img src="/images/nike_logo.png" style="width:100px;border-radius:10px;" alt="nike shoe logo">
        </div>
    </div>

</div>