---
import ProductList from '../helpers/ProductList'
---
<div class="container shadow-sm mt-5 mb-5 pt-2 rounded">
<div class="row">
    <div class="col-md-4 col-12">
        Product 1
    </div>
    <div class="col-md-4 col-12">
        Product 2
    </div>
    <div class="col-md-4 col-12">
        Product 3
    </div>
    <div class="col-md-4 col-12">
        Product 4
    </div>
</div>
</div>