---
---
<div style="background-image: url('/images/shoe-dept.jpg');background-repeat: no-repeat;background-size:cover;width:100%;height: 200px;">
    <div style="background-color:rgba(255,214,10,0.7);max-width:100vw;height:100%">
<div class="row p-3">
    <div class="col-md-6 col-12">
        <h2 class="text-light">Master Shoe Depo</h2>
        <p class="text-light">We are the only Depo in Noakhali District</p>
    </div>
    <div class="col-md-6 col-12">
        <img src="/images/master_logo2.png" alt="" style="max-width: 100%;">
    </div>
</div>
    </div>
</div>