---

---
<div class="mt-5 mb-5"  style="background-image: url('/images/shoe-dept.jpg');background-repeat: no-repeat;background-size:cover;width:100%;overflow:hidden;">

    <div class="bg-animation1" style="width:100%;height:100%;display:grid; place-items: center;">
<div class="row p-3 place-items-center">
    <div class="col-md-6 col-12">
        <img src="/images/master_logo3.png" alt="" style="max-width: 100%;" data-aos="fade-left" data-aos-delay="300">
    </div>
    <div class="col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
        <h1 class="text-light">Master Shoe Depo</h1>
        <p class="text-light">We are the only Depo in Noakhali District. We import products from the company and sell it to the wholesaler</p>
        <a href="#"><button class="btn btn-primary">Learn More</button></a>
    </div>

</div>
    </div>
    
</div>

<style>
    .bg-animation1{
    animation: mh 5s infinite;
 transition: 0.4s;
}

@keyframes mh {
    30%{background:rgba(255, 195, 0,0.8); transition: 0.4s;}
    75%{background:rgba(0,53,102,0.8);transition: 0.4s;}
}
</style>
