---
---
<div class="container mt-5">

    <div class="row align-items-center">
        
        <div class="col-md-6 col-12">
            <p class="text-secondary" data-aos="fade-up" data-aos-delay="300">VERSIONS HAVE EVOLVED OVER THE YEARS </p>
<h2 class="h3" style="color:#003566" data-aos="fade-up" data-aos-delay="300">See the top leather shoe trends, discover something new.</h2>
<p class="secondary" data-aos="fade-up" data-aos-delay="300">The Master Shoes delivers a vast variety of footwear products to their customers. We pride ourselves on our unique product range.</p>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-4">
                    <img src="/images/award.svg" style="width:50px;height:auto;" data-aos="fade-up" data-aos-delay="300" alt="">
                </div>
                <div class="col-8" data-aos="fade-up" data-aos-delay="300">
                    <h3 class="text-primary h5">Designer</h3>
                    <p class="text-secondary">Made in Bangladesh</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-4">
                    <img src="/images/clipboard-check.svg" data-aos="fade-up" data-aos-delay="300" style="width:50px;height:auto;" alt="">
                </div>
                <div class="col-8" data-aos="fade-up" data-aos-delay="300">
                    <h3 class="text-primary h5">Leather</h3>
                    <p class="text-secondary">Mens Sandal</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row align-items-center justify-content-center">
                <div class="col-4">
                    <img src="/images/sewing-machine-icon.svg" data-aos="fade-up" data-aos-delay="300" style="width:50px;height:auto;" alt="">
                </div>
                <div class="col-8" data-aos="fade-up" data-aos-delay="300">
                    <h3 class="text-primary h5">Production Type</h3>
                    <p class="text-secondary">Hand Sewing</p>
                </div>
            </div>
        </div>
        <div class="col-6"> 
            <div class="row align-items-center justify-content-center">
                <div class="col-4">
                    <img src="/images/thread.svg" data-aos="fade-up" data-aos-delay="300" style="width:50px;height:auto;" alt="">
                </div>
                <div class="col-8" data-aos="fade-up" data-aos-delay="300">
                    <h3 class="text-primary h5">Materials</h3>
                    <p class="text-secondary">Leather, Rubber, Thread</p>
                </div>
            </div>
    </div>
            
    </div>
</div>
        </div>
        <div class="col-md-6 col-12">
            <img src="/images/shoe_thumb_1.png" style="width:100%;height:100%" data-aos="fade-right" data-aos-delay="300" alt="Comfortabel Master Shoe in Bangladesh">
                    </div>
    </div>
</div>