---
// src/components/SwiperComponent.astro
---

<div class="swiper-body">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/images/slide1.png"/>

      </div>
      <div class="swiper-slide">
        <img src="/images/slide2.png"/>
</div>
<div class="swiper-slide">
        <img src="/images/slide3.png"/>
</div>
    </div>
  <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
  </div>
</div>


<style>
  .swiper-body{
		position: relative;
		height: 600px;
	}
  @media screen and (max-width:480px) {
    .swiper-body{
      position:relative;
      height: 200px;
    }
  }
	.swiper {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
	

	
</style>


<script is:inline>

   // Ensure the script runs after DOM is loaded
   document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.swiper', {
      // Swiper options
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      loop:true,
      navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        speed:400,
        autoplay:{
          delay:3000,
          disableOnInteraction:false
        },
    });
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"  ></script>

