---
import BaseLayout from "../Layout/BaseLayout.astro"
---
<BaseLayout>
<div class="container mt-2 ">
    <div class="d-flex justify-content-center">
        <img src="/logo2.png" alt="" style="width:70%">
    </div>
    <p class="text-secondary">Small steps can lead to a big change. We started our journey in 2014, aiming to cater high quality footwear at an affordable price to the mass people. 

        As of now, the small steps of Master Shoe have led us to be one of the most recognized brands in the footwear industry in Bangladesh. Gradually Master Shoe becoming one of the most successful and biggest footwear brand in this country. 
        
        Day by day Master Shoe spreads its retail point all over the country. Currently we are the only depo of Noakhali District. We sell product to the wholesaler and retail buyers.
        Best quality product with great comfort at affordable price is the main motto of this brand. That’s why we are always careful about the quality of each and every products. 
        
        We always focus on innovation and uniqueness. As a footwear brand of Master Shoe, We are bound to keep its all promise and surely we can assure you can go a longer and longer way.</p>
</div>
<div class="card" style="width: 18rem;margin:0px auto;">
           <img src="/jumman.jpg"class="img-fluid"alt="Jumman Traders owner">
           <div class="card-body">
            <div class="card-title text-center"> <h2 class="h4">Sharif Mahmud Jumma</h2></div>
            <div class="card-title text-center text-secondary">Managing Director<br/><br/> Phone : +880 1763-472750
              <br/>+880 1677-759661</div>
            

           </div>
    </div>
    <div class="card mt-3" style="width: 18rem;margin:0px auto;">
      <img src="/manager.jpeg"class="img-fluid"alt="Jumman Traders manager">
      <div class="card-body">
       <div class="card-title text-center"> <h2 class="h4">Md Tajul Islam</h2></div>
       <div class="card-title text-center text-secondary">Manager<br/><br/>Phone : +8801568264241</div>
       
      </div>
</div>

    <h2 class="h3 text-center text-primary mt-5" id="payment">Make your payment with</h2>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-4 col-12 my-2">
      <div class="row">
        <div class="col-4 d-flex align-items-center">
          <img src="/images/pubali.png" alt="pubali bank info" style="width: 80px;">
        </div>
        <div class="col-8">
          <p class="h5 text-success">Pubali Bank</p>
          <p>A/C Name : M/S JUMMAN TRADERS</p>
          <p>A/C No : 0711901037220</p>
          Chowmuhani Branch.
        </div>
      </div>
    </div>
    
    <div class="col-md-4 col-12 my-2">
      <div class="row">
        <div class="col-4 d-flex align-items-center">
          <img src="/images/bengal.png" alt="bengal bank info" style="width: 80px;">
        </div>
        <div class="col-8">
          <p class="h5 text-success">Bengal Commercial Bank</p>
          <p>A/C Name : M/S JUMMAN TRADERS</p>
          <p>A/C No : 2001141002372</p>
          Chowmuhani Branch.
        </div>
      </div>
    </div>

    <div class="col-md-4 col-12 my-2">
      <div class="row">
        <div class="col-4 d-flex align-items-center">
          <img src="/images/dhaka.png" alt="dhaka bank info" style="width: 80px;">
        </div>
        <div class="col-8">
          <p class="h5 text-success">Dhaka Bank</p>
          <p>A/C Name : M/S JUMMAN TRADERS</p>
          <p>A/C No : 007.100.142</p>
          Chowmuhani Branch.
        </div>
      </div>
    </div>

    <div class="col-md-4 col-12 my-2">
      <div class="row">
        <div class="col-4 d-flex align-items-center">
          <img src="/images/nrb.jpg" alt="nrbc bank info" style="width: 80px;">
        </div>
        <div class="col-8">
          <p class="h5 text-success">NRBC Bank</p>
          <p>A/C Name : M/S JUMMAN TRADERS</p>
          <p>A/C No : 019533300000034</p>
          Chowmuhani Branch.
        </div>
      </div>
    </div>


  </div>
</div>

<div class="container my-5">
<div class="text-primary h3 text-center">Our Certificates</div>
<div class="row">
  <div class="col-md-4 col-12">
    <img src="/images/certificate1.jpeg" alt="jumman Traders Certificates" style="max-width: 100%;">
  </div>
  <div class="col-md-4 col-12">
    <img src="/images/certificate2.jpeg" alt="jumman Traders Certificates" style="max-width: 100%;">
  </div>
  <div class="col-md-4 col-12">
    <img src="/images/certificate3.jpeg" alt="jumman Traders Certificates" style="max-width: 100%;">
  </div>
  <div class="col-md-4 col-12">
    <img src="/images/certificate4.jpeg" alt="jumman Traders Certificates" style="max-width: 100%;">
  </div>
  <div class="col-md-4 col-12">
    <img src="/images/certificate5.jpeg" alt="jumman Traders Certificates" style="max-width: 100%;">
  </div>
</div>
</div>
</BaseLayout>

<style>
.member{
  overflow:hidden;
  border-radius:5px;
  box-shadow:0px 0 30px rgba(1,41,112,0.08);
  text-align:center;
  background:rgba(255,255,255,0.7);
  transition:0.4s;
  margin-bottom:30px;
}
.member-img{
  position:relative;
  overflow:hidden;
}
/*
.member-img:before{
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  bottom:0;
  background:url(/images/team-shape.svg) no-repeat center bottom;
  background-size:contain;
  z-index:1;
}
  */
.member:hover{
  transform:scale(1.08);
  box-shadow:0px 0 30px rgba(1,41,112,0.1);
.member-img img{
  transition:0.5s;
}
.member-img:hover img{
  transform:scale(1.18) rotate(10deg);
}

</style>