---
import BaseLayout from "../Layout/BaseLayout.astro"
import SwiperComponent from "../components/SwiperComponent.astro"
import Brands from "../components/Brand.astro"
---
<BaseLayout>
<SwiperComponent/>
<Brands/>
<h1 class="text-primary">Welcome Home</h1>
</BaseLayout>
