---
import BaseLayout from "../Layout/BaseLayout.astro"
import SwiperComponent from "../components/SwiperComponent.astro"
import Brands from "../components/Brand.astro"
import ShoeDiscovery1 from "../components/ShoeDiscovery1.astro"
import ShoeAnimationBox from "../components/ShoeAnimationBox.astro"
import ProductComponent from "../components/ProductComponent.astro"
import Product2Component from "../components/Product2Component.astro"
---
<BaseLayout title="Jumman Traders - Best leather shoe seller and master shoe dealer">
<SwiperComponent/>
<Brands/>
<ShoeDiscovery1/>
<ShoeAnimationBox/>
<img src="/images/banner1.gif" style="width: 100%;" alt="Men's master shoe banner">
<ProductComponent/> 
<a href="/services">
    <img src="/images/banner3.png" style="width: 100%;" alt="Discount offer" class="mt-5">
</a>
<Product2Component/>
<div class="d-flex justify-content-center">
    <a href="/products">    
        <button class="btn btn-primary">See all products &raquo;</button>
    </a>
  </div>
</BaseLayout>
