---
import BaseLayout from "../Layout/BaseLayout.astro"
import ProductList from '../helpers/ProductList.js';
import Product2Component from "../components/Product2Component.astro";

// Extract product data from the imported array
const products = ProductList;
---
<BaseLayout>
    <img src="/images/banner2.png" alt="" style="width: 100%;">
    <div class="container">
        <div class="row">
          {products.map((product) => (
              <div class="col-md-4 mb-4">
              <div class="card">
                <img data-aos="fade-right" data-aos-delay="300" src={product.url} class="card-img-top" style="background-image:linear-gradient(to top right,#ffd60a,#ffc300)" alt={product.name} />
                <div class="card-body">
                  <h5 class="card-title text-center">Master - {product.name}</h5>
                  <p class="card-text text-center"> Price ৳{product.price.toFixed(2)}</p>
                  <a href="/about#payment" class="btn btn-primary" style="background: #003566;">Order Now</a>
                </div>
              </div>
            </div>
          ))}
        </div>
        <Product2Component/>
        <style>
            <style>

.card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
}

</style>
        </style>
</BaseLayout>
