---
import BaseLayout from "../Layout/BaseLayout.astro"
---

<BaseLayout>
<div class="container mb-3 text-center">
    <img src="/images/banner3.png" alt="" style="width:100%">
    <h1 class="text-primary">Grow your Business with us.</h1>
    <p class="text-secondary">We Offer 25% Discount for Wholesaler and 5% Discount for Retail Buyers.</p>
    <div class="alert alert-info">This offer is applicable only for Master Brand shoe only.</div>
</div>
</BaseLayout>